<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logotask"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logotask"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskFlow"
        tools:targetApi="31" >

        <!-- ✅ ADICIONE AQUI: -->
        <activity
            android:name=".ui.perfil.PerfilActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.entrar.esquecersenha.EsquecerSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="false" />

        <activity
            android:name=".ui.intro.LogoSplash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tarefa.TarefaArquivoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tarefa.TarefaDescricaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.projeto.ProjetosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.equipe.EquipeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.equipe.membro.EquipeMembroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tarefa.criar.CriarTarefaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.equipe.criar.CriarEquipeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.projeto.criar.CriarProjetoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.entrar.EntrarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cadastrar.CadastrarActivity"
            android:exported="false" />
    </application>

</manifest>